* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAF7F2;
}


header {
  background-image: url('assets/iteration-1/home-banner.png');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 1080px;
  margin: 0;
  padding-top: 16px;
  
}

.t-yemek {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
  gap: 16px;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  font-weight: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 50px;
  line-height: 50px;
  font-family: 'londrina solid';
  
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.text h4 {
  font-family: 'Satisfy', cursive;
  font-weight: 400;       
  font-size: 32px;
  line-height: 44.27px;
  letter-spacing: 0;
  text-align: center;
  color: #FDC913;
}

.text h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFF;
  font-size: 86px;
  line-height: 92px;
  letter-spacing: 1.5px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.button {
  font-family: 'Barlow', sans-serif;
  background-color: #FDC913;
  color: #292929;
  font-weight: 600;
  font-size: 18px;
  padding: 12px 32px;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}
.menu-categories {
  background-color: #FFFFFF;
  width: 100%;
}
.menu-categories nav {
  max-width: 1068px;
  width: 100%;
  height: 42px;
  margin: 0 auto;
  padding: 16px 0;
  opacity: 1;
}
.menu-categories nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
.menu-categories nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  line-height: 32.4px;
  font-size: 18px;
  gap: 12px;
  color: #292929;
}

.cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: 68px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
.cards-box {
  max-width: 1072px;
  height: 449px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 11px;
}
.card-left {
  width: 100%;
  max-width: 531px;
  height: 449px;
  border-radius: 12px;
  position: relative;
  background-color: #ce2829;
  overflow: hidden;
}
.card-left img {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 531px;
  top: 0;
  left: 0;
  border-radius: 9px;
  object-fit: cover;
  z-index: 1;
}
.card-left-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 24px;
  margin-left: 32px;
  position: relative;
  z-index: 2;
  gap: 8px;
}
.card-left-text h2 {
  color: #FFFFFF;
  font-family: 'Quattrocento', serif;
  font-weight: 700;
  font-style: bold;
  font-size: 68px;
  line-height: 72px;
  margin-bottom: 0;
  margin: 0;
}
.card-left-text p {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 26.76px;
  letter-spacing: 0;
  vertical-align: middle;
  margin: 0;
}
.btn {
  width: 138px;
  height: 48px;
  margin-top: 16px;
  border-radius: 50px;
  border: none;
  background-color: #FFFFFF;
  color: #CE2829;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 48px;
  letter-spacing: 0;
  text-align: center;
}
.cards-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 449px;
  max-width: 531px;
  border-radius: 12px;
  gap: 9px;
}
.card-top {
  max-width: 531px;
  height: 220px;
  border-radius: 12px;
  background-color: #292929;
  position: relative;
}
.card-right-top-text {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  position: relative;
  margin-top: 16px;
  margin-left: 32px;
  position: relative;
  z-index: 2;
}
.card-right-top-text h3{
  margin-bottom: 29px;
  font-family: 'Barlow', serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
  font-style: normal;
}
.card-top img {
  position: absolute;
  width: 210px;
  height: auto;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
  z-index: 1;
}
.card-bottom {
  max-width: 531px;
  width: 100%;
  height: 220px;
  padding: 32px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  background-image: url('assets/iteration-2/cta/kart-3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.card-right-bottom-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  z-index: 2;
}
#red-text {
  color: #D80027;
}
.card-right-bottom-text h3 {
  font-family: 'Barlow', serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
  color: #292929;
  vertical-align: middle;
  letter-spacing: 0;
}

