* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAF7F2;
}

/*Header*/
header {
  background-image: url('assets/iteration-1/home-banner.png');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 1080px;
  margin: 0;
  padding-top: 16px;

}

.t-yemek {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  font-family: 'londrina solid';
  font-weight: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 50px;
  line-height: 50px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text h4 {
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 44.27px;
  letter-spacing: 0;
  text-align: center;
  color: #FDC913;
}

.text h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFF;
  font-size: 86px;
  line-height: 92px;
  letter-spacing: 1.5px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.button {
  font-family: 'Barlow', sans-serif;
  background-color: #FDC913;
  color: #292929;
  font-weight: 600;
  font-size: 18px;
  padding: 12px 32px;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  width: 193.27px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-categories {
  background-color: #FFFFFF;
  width: 100%;
  ;
  padding: 26px;
}

.menu-categories nav {
  max-width: 1068px;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 16px 0;
  opacity: 1;
}

.menu-categories nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.menu-categories nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  line-height: 32.4px;
  font-size: 18px;
  gap: 12px;
  color: #292929;
}

/*Kartlart*/
.cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: 68px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.cards-box {
  max-width: 1072px;
  height: 449px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 11px;
}

.card-left {
  width: 100%;
  max-width: 531px;
  height: 449px;
  border-radius: 12px;
  position: relative;
  background-color: #ce2829;
  overflow: hidden;
}

.card-left img {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 531px;
  top: 0;
  left: 0;
  border-radius: 9px;
  object-fit: cover;
  z-index: 1;
}

.card-left-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 32px;
  margin-left: 32px;
  position: relative;
  z-index: 2;
  gap: 16px;
}

.card-left-text h2 {
  color: #FFFFFF;
  font-family: 'Quattrocento', serif;
  font-weight: 700;
  font-style: bold;
  font-size: 68px;
  line-height: 72px;
  margin-bottom: 0;
  margin: 0;
}

.card-left-text p {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 26.76px;
  letter-spacing: 0;
  vertical-align: middle;
  margin: 0;
}

.btn {
  width: 138px;
  height: 48px;
  margin-top: 16px;
  border-radius: 50px;
  border: none;
  background-color: #FFFFFF;
  color: #CE2829;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 48px;
  letter-spacing: 0;
  text-align: center;
}

.cards-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 449px;
  max-width: 531px;
  border-radius: 12px;
  gap: 9px;
}

.card-top {
  max-width: 531px;
  height: 220px;
  border-radius: 12px;
  background-color: #292929;
  position: relative;
}

.card-right-top-text {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  position: relative;
  margin-top: 16px;
  margin-left: 32px;
  position: relative;
  z-index: 2;
}

.card-right-top-text h3 {
  margin-bottom: 29px;
  font-family: 'Barlow', serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
  font-style: normal;
}

.card-top img {
  position: absolute;
  width: 210px;
  height: auto;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
  z-index: 1;
}

.card-bottom {
  max-width: 531px;
  width: 100%;
  height: 220px;
  padding: 32px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  background-image: url('assets/iteration-2/cta/kart-3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.card-right-bottom-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  z-index: 2;
}

#red-text {
  color: #D80027;
}

.card-right-bottom-text h3 {
  font-family: 'Barlow', serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
  color: #292929;
  vertical-align: middle;
  letter-spacing: 0;
}

/*Product*/
.product-section {
  max-width: 1068px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

}

.text-1 {
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 44.27px;
  text-align: center;
  vertical-align: middle;
  color: #CE2829;
}

.text-box h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 56.2px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #292929;
}

.product-nav {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.product-nav button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  opacity: 1;
  transform: rotate(0deg);
  background-color: #FFFFFF;
}

.product-nav button:hover {
  background-color: #292929;
  color: #FFFFFF;
}

.product-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 30px;

}

.product {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product h3 {
  display: flex;
  justify-content: flex-start;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 29.44px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #292929;
}

.product-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-detail {
  display: flex;
  justify-content: space-between;
}

.item {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #1B1B1BB2;
}

.item-2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.76px;
  letter-spacing: 0;
  text-align: right;
  vertical-align: middle;
  color: #292929;
}

/*Footer*/
.footer-section {
  display: flex;
  flex-direction: column;
  background-color: #1A1A1A;
}

.footer-box-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1068px;
  width: 100%;
  margin: 0 auto;
  padding: 48px;
  gap: 40px;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.logo-2 {
  width: 220px;
  height: 100px;
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: capitalize;
  color: #FFFFFF;
}

.footer-1-order {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 25px;
}

.footer-1-order li {
  display: flex;
  gap: 16px;
}

.footer-1-order li a {
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #FFFFFF;
}

.footer-1-order li img {
  width: 28px;
  height: 28px;
}

.footer-2 {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.footer-2 h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32.11px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #FFFFFF;
}

.footer-2-details {
  display: flex;
  flex-direction: column;
  gap: 7.39px;
  margin-top: 25px;
}

.footer-2-details p {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #FFFFFF;
  white-space: nowrap;
}

.footer-1,
.footer-2,
.footer-3 {
  flex-shrink: 0;
}

.footer-3 {
  width: 300px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.footer-3 h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32.11px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #FFFFFF;
}

.footer-3-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-top: 25px;
}

.footer-3-details img {
  width: 30%;
}

.footer-end {
  border-top: 1px solid #333333;
  width: 100%;
  padding: 32px 48px;
  background-color: #1A1A1A
}

.footer-box-2 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-box-2 p {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #FFFFFF;
}

.fa-twitter {
  color: white;
}

@media (max-width: 1000px) {

  html,
  body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 500px;
  }

  .menu-categories nav {
    height: auto;
    padding: 24px 0;
  }

  .menu-categories nav ul {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 41px 41px;
    justify-content: center;
    list-style: none;
  }

  .menu-categories nav li {
    width: auto;
  }

  .menu-categories nav a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    justify-content: flex-start;
  }

  .menu-categories nav img {
    width: 42px;
    height: 42px;
  }

  .cards-box {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 16px;
    gap: 16px;
  }

  .card-left {
    width: 100%;
    max-width: 100%;
    height: 330px;
  }

  .card-left img {
    max-width: 100%;
    height: 100%;
  }

  .card-top,
  .card-bottom {
    width: 100%;
    max-width: 100%;
    min-height: auto;
    margin: 0;
  }

  .cards-right {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    gap: 16px;
  }

  .btn {
    width: 120px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
  }

  .product-nav {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 41px 41px;
    justify-content: center;
    list-style: none;
  }

  .product-items {
    flex-direction: column;
    align-items: center;
  }

  .footer-1 img {
    align-items: flex-start;
  }

  .footer-box-1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-2,
  .footer-3 {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
  }
}